PROJECT_NAME =
PROJECT_DESCRIPTION =
VERSION =
BUILD_DIR =
GIT_URL =
GIT_BRANCH =
GIT_CREDENTIALS =
PLATFORM = Win64
CONFIG = Development
BUILD_TARGET = Standalon Game
UE_ENGINE_DIR =
OPEN_CPP_COVERAGE_PATH =
PUBLISH_TESTS_REPORT =
TEST_NAMES =