FROM ubuntu:20.04

ARG SERV_ARTIFACTS_LOCAL_PATH=./Artifacts/LinuxServer

WORKDIR /app
COPY ${SERV_ARTIFACTS_LOCAL_PATH} ./

RUN useradd -m ueuser && \
    chown -R ueuser:ueuser /app && \
    chmod +x /app/%PROJECT_NAME%Server.sh


EXPOSE 7777/tcp
EXPOSE 7777/udp

USER ueuser

CMD ["./%PROJECT_NAME%Server.sh", "-log", "-server"]

